In [1]:
import pandas as pd
import numpy as np

In [8]:
distric_ed_standard_rates = pd.read_csv('../data/distict_ed_standard.csv')
distric_ed_standard_rates

    DistrictCode  percent_met_standard
0          17001              0.555580
1          17210              0.283760
2          17216              0.487627
3          17400              0.787935
4          17401              0.273653
5          17402              0.589803
6          17403              0.368621
7          17404              0.476190
8          17405              0.678563
9          17406              0.238030
10         17407              0.604855
11         17408              0.366309
12         17409              0.633615
13         17410              0.690543
14         17411              0.708749
15         17412              0.606001
16         17414              0.720261
17         17415              0.405799
18         17417              0.640157
19         27417              0.385773

In [3]:
kings_co_zips = pd.read_csv('../data/king-co-zip-table.csv')
kings_co_zips

     ZIPCODE  COUNTY      COUNTY_NAME  PREFERRED_CITY
0      98001      33      King County          AUBURN
1      98002      33      King County          AUBURN
2      98003      33      King County     FEDERAL WAY
3      98004      33      King County        BELLEVUE
4      98005      33      King County        BELLEVUE
..       ...     ...              ...             ...
204    98940      37  Kittitas County          RONALD
205    98941      37  Kittitas County          ROSLYN
206    98943      37  Kittitas County  SOUTH CLE ELUM
207    98946      37  Kittitas County           THORP
208    98950      37  Kittitas County         VANTAGE

[209 rows x 4 columns]

In [9]:
school_sites_df = pd.read_csv('../data/School_Sites_in_King_County___schsite_point.csv')
school_sites_df

,X,Y,OBJECTID,FEATURE_ID,ESITE,CODE,FEATUREDES,NAME,ABB_NAME,ADDRESS,ZIPCODE,LONG_CEN,LAT_CEN,OSPI_CODE,SCH_CLASS,DISTRICT,PIN,MAJOR,MINOR
0,-122.162518,47.726800,1,506,21186.0,660,School-Elementary,John Muir Elementary School,Muir,14012 132nd Ave NE,98034,-122.162519,47.726798,0.0,10,LAKE WASHINGTON,2226059038,222605,9038
1,-122.155785,47.371836,2,576,8603.0,660,School-Elementary,Meridian Elementary School,Meridian,25621 140th Ave SE,98042,-122.155788,47.371834,2565.0,10,KENT,2722059062,272205,9062
2,-122.030803,47.613401,3,2179,12220.0,662,School-High,Eastlake High School,Eastlake,400 228th Ave NE,98074,-122.030805,47.613399,4439.0,10,LAKE WASHINGTON,3425069021,342506,9021
3,-122.170580,47.604033,4,2156,83.0,664,School-Alternative,International School,International,445 128th Ave SE,98005,-122.170582,47.604031,3522.0,10,BELLEVUE,3325059117,332505,9117
4,-122.353646,47.664800,5,6600706,310251.0,664,School-Alternative,Northwest Montessori - Woodland Park,Northwest Montessori,4910 Phinney Ave N,98103,-122.353647,47.664799,NaN,20,SEATTLE,9521100045,952110,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,-122.169228,47.686876,650,478,30825.0,660,School-Elementary,Mark Twain Elementary School,Twain,9525 130th Ave NE,98033,-122.169230,47.686874,0.0,10,LAKE WASHINGTON,3888100027,388810,27
650,-122.298835,47.356355,651,89,2362.0,660,School-Elementary,Mark Twain Elementary School,Twain,2450 S Star Lake Rd,98003,-122.298838,47.356353,3627.0,10,FEDERAL WAY,7204800010,720480,10
651,-122.366861,47.309363,652,326,2384.0,660,School-Elementary,Olympic View Elementary School,Olympic View,2626 SW 327th St,98023,-122.366864,47.309361,3432.0,10,FEDERAL WAY,1321039008,132103,9008
652,-122.228639,47.532462,653,544,9282.0,660,School-Elementary,Lakeridge Elementary School,Lakeridge,8215 SE 78th St,98040,-122.228641,47.532460,2981.0,10,MERCER ISLAND,2524049015,252404,9015
653,-122.282980,47.361286,654,441,8606.0,661,School-Junior High/Middle,Evergreen Middle School,Evergreen,26812 40th Ave S,98032,-122.282983,47.361285,3431.0,10,FEDERAL WAY,2722049152,272204,9152