In [1]:
import pandas as pd
import numpy as np

In [8]:
distric_ed_standard_rates = pd.read_csv('../data/distict_ed_standard.csv')
distric_ed_standard_rates

    DistrictCode  percent_met_standard
0          17001              0.555580
1          17210              0.283760
2          17216              0.487627
3          17400              0.787935
4          17401              0.273653
5          17402              0.589803
6          17403              0.368621
7          17404              0.476190
8          17405              0.678563
9          17406              0.238030
10         17407              0.604855
11         17408              0.366309
12         17409              0.633615
13         17410              0.690543
14         17411              0.708749
15         17412              0.606001
16         17414              0.720261
17         17415              0.405799
18         17417              0.640157
19         27417              0.385773

In [3]:
kings_co_zips = pd.read_csv('../data/king-co-zip-table.csv')
kings_co_zips

     ZIPCODE  COUNTY      COUNTY_NAME  PREFERRED_CITY
0      98001      33      King County          AUBURN
1      98002      33      King County          AUBURN
2      98003      33      King County     FEDERAL WAY
3      98004      33      King County        BELLEVUE
4      98005      33      King County        BELLEVUE
..       ...     ...              ...             ...
204    98940      37  Kittitas County          RONALD
205    98941      37  Kittitas County          ROSLYN
206    98943      37  Kittitas County  SOUTH CLE ELUM
207    98946      37  Kittitas County           THORP
208    98950      37  Kittitas County         VANTAGE

[209 rows x 4 columns]